<nav class="navbar navbar-light" style="background-color:cornflowerblue">

  <a class="navbar-brand" routerLink="/home" routerLinkActive = "active">
    Home</a>

  <a class="navbar-brand" routerLink="/user-login" routerLinkActive = "active">
    Login</a>

    <a class="navbar-brand" routerLink="/user-registration" routerLinkActive = "active">
      Registration</a>


  <a class="navbar-brand" routerLink="/user-medicine-details" routerLinkActive="active">
    MedicineDetails</a>

  <a class="navbar-brand" routerLink="/medicine-list" routerLinkActive="active">
   ListOf Medicine</a>

</nav>

   <div class="container" style="text-align: center; background-color: beige;margin-top: 70px;">
      Search here: <input type="text" name="search" placeholder="enter name to search">
   </div>
  <div class="container" style="margin-top: 100px;">
  <img  src="./assets/cetrizine.jpg" style="height: 300px;" alt="second slide">
  <img  src="./assets/paracetemol.jpg" style="height: 300px;" alt="third slide">
  <img  src="./assets/skinalergy.jpg" style="height: 300px;" alt="fourth slide">
  <img  src="./assets/cold.jpg" style="height: 300px;" alt="fourth slide">
  <img  src="./assets/alergy.jpg" style="height: 300px;" alt="fourth slide">
</div>
