<h1>Medicine list</h1>

<ul class="list-group">
    <li class="list-group-item">
        <i class="fa fa-id-card"></i>Id : {{medicine.id}}
    </li>

    <li class="list-group-item">
        <i class="fa fa-user"></i>Name : {{medicine.name}}
    </li>

    <li class="list-group-item">
        <i class="fa fa-envelope"></i>Description : {{medicine.description}}
    </li>

    <li class="list-group-item">
      <i class="fa fa-envelope"></i>Category : {{medicine.category}}
  </li>

  <li class="list-group-item">
    <i class="fa fa-envelope"></i>Image : {{medicine.image}}
</li>

<li class="list-group-item">
  <i class="fa fa-envelope"></i>Price : {{medicine.price}}
</li>

   
</ul>
