<nav class="navbar navbar-light" style="background-color:cornflowerblue">
  <a class="navbar-brand" routerLink="/home" routerLinkActive = "active">
    Home</a>

  <a class="navbar-brand" routerLink="/admin-login" routerLinkActive = "active">
    Login</a>

  <a class="navbar-brand" routerLink="/add-medicine" routerLinkActive="active">
   Add Medicine</a>

  <a class="navbar-brand" routerLink="/medicine-details" routerLinkActive="active">
    MedicineDetails</a>

  <a class="navbar-brand" routerLink="/medicine-list" routerLinkActive="active">
   ListOf Medicine</a>

</nav>

  <img  src="./assets/doloimage.jpg" style="height: 300px;" alt="First slide">
  <img  src="./assets/cetrizine.jpg" style="height: 300px;" alt="second slide">
  <img  src="./assets/paracetemol.jpg" style="height: 300px;" alt="third slide">
  <img  src="./assets/alergy.jpg" style="height: 300px;" alt="fourth slide">

