<h1>medicine List</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th><i class="fa fa-id-card"></i>Id</th>
            <th><i class="fa fa-user"></i>Name</th>
            <th><i class="fa fa-pen"></i>Description</th>
            <th><i class="fa fa-info-circle"></i>Category</th>
            <th><i class="fa fa-eye"></i>Image</th>
            <th><i class="fa fa-info-circle"></i>Details</th>
            <th><i class="fa fa-pen"></i>Edit Details</th>
            <th><i class="fa fa-trash"></i>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let m of medicines">
            <td>{{m.id}}</td>
            <td>{{m.name}}</td>
            <td>{{m.description}}</td>
          
            <td>{{m.category}}</td>
            <td>{{m.image}}</td>
     
            <td> <a href="/medicine-list/{{m.id}}"><button class="btn btn-primary"><i class="=fa-solid fa-eye"></i>View</button></a> </td>

            <td><a routerLink="/edit/{{m.id}}">
                <button class="btn btn-warning"> <i class="=fa-solid fa-pen"></i>Edit</button></a></td>

            <td><button type="button"(click)='DeleteUserById(m.id)' class="btn btn-danger"><i class="fa-solid fa-trash"></i>Delete</button></td>
        </tr>
    </tbody>
</table>
