<div class="container">
<i><b><u><h1 style="text-align: center; height: 80px;background-color: #aaa; font-size: 50px;">Medicare Healthservice</h1></u></b></i>
</div>

<div class="container" style="margin-left: 100px;">
<button type="button"  (click) = "goToAdminPortal()" class="btn btn-primary btn-lg btn-block">Admin Portal</button>
<button type="button"   (click) = "goToUserPortal()" class="btn btn-primary btn-lg btn-block">User Portal</button>
</div>
<div class="container">
   
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
       <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="./assets/mainimage.jpg" style="height: 500px; width: 300px;" alt="First slide">
      </div>
     
      </div>
      </div>
      </div>